<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roachfu.tutorial.mapper.DemoMapper">
    <select id="selectList" resultType="Demo">
        select id, demo_name, demo_value from t_demo
    </select>
</mapper>